.category-container {
    max-width: 400px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .back-button {
    font-size: 20px;
    cursor: pointer;
    color: #943f06;
    margin-right: 6px;
  }
  
  .form-wrapper {
    margin-top: 1rem;
  }
  
  .signup-logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .brand-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .category-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }
  
  .checkbox-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
  
  .submit-btn {
    background-color: #d28647;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
  }
  